INSTANCE_NAME=convex-tennis
INSTANCE_SECRET=__GENERATE_A_UNIQUE_SECRET__
RUST_LOG=info
CONVEX_CLOUD_ORIGIN=https://convex-tennis.aidigitalassistant.cloud
CONVEX_SITE_ORIGIN=https://convex-tennis.aidigitalassistant.cloud
